.nav {
    background-color: rgb(15, 15, 15);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.site-logo {
    width: 250px;
    margin-left: 20px;
}